.addons {
  padding: 0 20px 20px;
}

.addons__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.addons__list {
  @include list-reset;
}

.addons__item {
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.addons__item-name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $black2;
}

.addons__pack {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: $font-second;
  color: $black2;
  text-align: left;
}

.addons__price {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: $font-second;
  color: $black2;
  text-align: right;
}

.addons__table {
  width: 280px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .addons__list {
    width: 708px;
    margin: 0 auto;
  }

  .addons__item {
    padding: 0 38px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
  }

  .addons__item-name {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }

  .addons__table {
    width: 632px;
  }
}

@media (min-width: $desktop-width) {
  .addons__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 895px;
  }

  .addons__table {
    width: 285px;
  }

  .addons__item-name {
    width: 285px;
  }

  .addons__addons-promo-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
