.advantages {
  outline: 1px dotted black;
}

.advantages__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-second;
}
