.button {
  display: inline-block;
  margin: 0;
  padding: 20px 0px;
  background-color: $green;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;

  width: 280px;
  outline: 1px dotted black;
  border: none;
  cursor: pointer;
}
.button--promo {
  font-size: 14px;
  line-height: 18px;
  padding: 11px 0;
}
