.categories {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .categories {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }
}
