.page-footer {
  background-color: $gray;
  padding-bottom: 10px;
}

.page-footer__copyright-descr {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: $font-second;
  color: $black4;
}

.page-footer__logo {
  display: block;
  padding-top: 38px;
  padding-bottom: 20px;
  text-align: center;
}

.page-footer__copyright {
  margin: 20px auto;
  width: 320px;
  position: relative;
}

.page-footer__copyright-logo {
  position: absolute;
  right: 20px;
  top: -15px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }

  .page-footer__copyright {
    width: 162px;
    margin: auto 0;
  }
}

@media (min-width: $desktop-width) {
 .page-footer__wrap {
    width: 1220px;
    margin: 0 auto;
  }
}
