.promo {
  outline: 1px dotted black;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
}

.promo__title {
  @include title-font;
  padding-top: 40px;
  font-size: 36px;
  line-height: 36px;
  color: white;
  text-align: center;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 300px;
}
