.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
}

.promo__title {
  @include title-font;
  padding-top: 40px;
  font-size: 36px;
  line-height: 36px;
  color: white;
  text-align: center;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 300px;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
    position: relative;
    padding: 0 30px;
    padding-top: 40px;
  }
  .promo__title {
    @include title-font;
    padding-left: 90px;
    font-size: 60px;
    line-height: 60px;
    color: $black1;
    text-align: left;
    width: 427px
  }
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    color: $black1;
    padding-left: 90px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 45px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-top: 53px;
  }
}
