.site-menu {
  display: flex;
  flex-direction: column;
}

.site-menu__link {
  display: block;
  padding: 22px 30px;
  font-size: 20px;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  color: $black1;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-menu {
    display: flex;
    flex-direction: row;
    width: 475px;
    padding-right: 30px;

  }

  .site-menu__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: $black2;
    text-transform: uppercase;
    padding: 0;
    margin-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .site-menu {
    width: 515px;
    padding-right: 110px;
    background-color: $green;
  }

  .site-menu__link {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
  }
}
