.slider__img {
  width: 320px;
  height: 240px;
  margin-bottom: 33px;
}

.slider__range-wrap {
  display: flex;
  justify-content: center;
}

.slider__range-descr {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__range-descr--before {
  margin-right: 20px;
}

.slider__range-descr--after {
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .slider {
    background-color: $gray;
    margin-top: 200px;
    padding-top: 460px;
    position: relative;
  }

  .slider__img {
    position: absolute;
    top: -200px;
    width: 600px;
    height: 600px;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    background-color: $gray;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
  }

  .slider__img {
    position: absolute;
    top: -200px;
    left: 200px;
    width: 200px;
    height: 200px;
    margin-bottom: 33px;
  }
}
