.text-input {
  display: flex;
  flex-direction: row;
  //justify-content: baseline;
}

.text-input__label {
  font-size: 16px;
  line-height: 18px;
  padding-right: 15px;
  padding-top: 15px;
  color: $black2;
  text-transform: uppercase;
}

.text-input__input {
  font-size: 16px;
  line-height: 18px;
  color: $black4;
  text-transform: uppercase;
  flex-grow: 1;
  height: 44px;
}

.form-program__textarea {
  text-transform: uppercase;
  padding: 15px;
  height: 150px;
  width: 100%;
  resize: none;
  overflow: auto;
}
